.travel {
  width: 85%;
  margin-left: auto;
  margin-right: auto;

  margin-top: 50px;
  margin-bottom: 50px;
}

.travel img {
  width: 100%;
  border: 1px solid #04ADBF;
  border-radius: 5px;
}

.travel-header {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.travel-header h3 {
  display: inline-block;
  margin-right: 10px;
}

.travel-duration {
  font-size: 15px;
  color: gray;
}

.travel-description {
  height: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.travel-price {
  width: 100%;
  color: gray;
  font-size: 15px;
}

.travel-about {
  width: 100%;
  color: #F9BF39;
  font-size: 20px;
  text-align: right;
  display: inline-block;
  cursor: pointer;
}

.travel-about:hover {
  text-decoration: underline;
}

.travel-date {
  display: flex;
  color: gray;
}

.travel-date span {
  width: 100px;
  margin-right: 30px;
}

.travel-status-box {
  height: 25px;
  font-size: 20px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: auto;
}

.travel-status {
  height: 100%;
  display: flex;
  align-items: center;
}

.travel-status img {
  height: 100%;
  width: auto;
  margin-right: 10px;
}

.travel-status span {
  display: inline-block;
}

.travel-status-denied {
  color: #FF0000;
}

.travel-status-accepted {
  color: #63CE1C;
}

.travel-status-waiting {
  color: #F9BF39;
}

#travel-modal .modal-title {
  width: 100%;
  text-align: center;
}

#travel-modal .close {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 3em;
  padding: 0;
  margin-right: 15px;
}

#travel-modal .close[disabled] {
  color: transparent;
}

#travel-modal-img {
  display: block;
  margin: 10px auto 30px auto;
  width: 70%;
}

.travel-modal-thumbs {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0 15px;
  margin-bottom: 30px;
  overflow-x: auto;
}

.travel-modal-thumbs img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin: 5px 15px;
  border: 1px solid #04ADBF;
}

.travel-modal-description {
  width: 100%;
  height: 150px;
  overflow-y: auto;
  padding-right: 40px;
}

.travel-modal-info {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-right: 40px;
  font-size:20px;
}

.travel-modal-info h4 {
  margin: 0;
}

.travel-modal-info div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.travel-modal-info input {
  border: 0px solid #04ADBF;
}

.tmi {
  margin-top: 10px;
}

.travel-modal-info button {
  background-color: #F9BF39;
  border: 3px solid #F9BF39;
  color: white;
  border-radius: 2px;
  cursor: pointer;

  margin: 30px 0 auto 0;
}

.travel-modal-info button:hover {
  border: 3px solid #F7B933;
}
