.navbar.navbar-inverse.navbar-expand-lg{
  background-color: white;
}
.add-travel-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  
    width: auto;
    height: auto;
  
    bottom: 0;
    margin: 0;
    padding: 25 50px;
  
    color: #4E4E4E;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .add-travel-bar #box1{
    padding-left: 10%;
    height: 350px;
    width: 50%;
    align-content: center;
  }
  .add-travel-bar #box2{
    padding-left: 5%;
    padding-right: 10%;
    height: 350px;
    width: 50%;
    align-content: center;
  }
  .add-travel-bar h2{
    width: 100%;
    color:red;
    padding-left: 10%;
  }
  .add-travel-bar .form-elements {
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 20px;
  }
  .add-travel-bar .form-elements input{
    font-size: 20px;
    border: 2px solid red;
    width: 100%;
  }
  
  .add-travel-bar .form-elements textarea{
    font-size: 20px;
    border: 2px solid red;
    width: 100%;
    height: 150px;
    resize: none;
  }
  .add-travel-bar .form-inline{
    display: flex;
    margin-top:68px;
  }
  .add-travel-bar .form-inline input[type="number"]{
    font-size: 20px;
    border: 2px solid red;
    width: 330px;
    margin-left:15px;
  }
  .add-travel-bar .form-inline select {
    font-size: 20px;
    border: 2px solid red;
    width: 75%;
    margin-left:15px;
  }

  .add-travel-bar #box2 .form-elements{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 375px;
    bottom:0;
    position: absolute;
    margin-bottom: 50px;
  }
  .add-travel-bar #box2 .form-elements button{
  float: right;
  font-size: 20px;
  background-color: red;
  color : white;
  border: none;
  width: 10vw;
  }
