.navbar {
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-item {
  color:red!important;
  font-size: 2em;
}

/* Code récupéré à l'adresse : https://stackoverflow.com/questions/16392952/css-to-make-bootstrap-navbar-transparent */
.navbar.transparent.navbar-inverse .navbar-inner {
   border-width: 0px;
   background-color: white;

}
/* ----- */
