.nav-item {
  color: #F9BF39!important;
  font-size: 2em;
}

/* Code récupéré à l'adresse : https://stackoverflow.com/questions/16392952/css-to-make-bootstrap-navbar-transparent */
.navbar.transparent.navbar-inverse .navbar-inner {
   border-width: 0px;
   -webkit-box-shadow: 0px 0px;
   box-shadow: 0px 0px;
   background-color: rgba(0,0,0,0.0);
   background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
   background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
   background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
/* ----- */

.research-bar {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 18%;

  bottom: 0;
  margin: 0;
  padding: 0 50px;

  color: #4E4E4E;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.form-elements {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  height: 80%;
  width: 12vw;
}

.form-elements input, .form-elements select {
  font-size: 20px;
  border: 2px solid #04ADBF;
}

.slider-box {
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.slider-box span {
  font-size: 15px;
  width: 30%;
}

.form-elements input[type="range"] {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 65%;
  height: 5px;
  background: #888;
  border: none;
  border-radius: 3px;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.form-elements input[type="range"]:hover {
  opacity: 1.0;
}

.form-elements input[type="range"]:focus {
  outline: none;
}

.form-elements input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #04ADBF;
  border-radius: 50%;
  cursor: pointer;
}

.form-elements input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #04ADBF;
  border-radius: 50%;
  cursor: pointer;
}

.form-elements button {
  background-color: #F9BF39;
  color: white;
  border: none;
  border-radius: 2px;

  margin: auto 0;
}

.trending-travel {
  width: 100%;
  margin: 40px auto;
  table-layout: fixed;
  padding: 0;
}


.trending-travel tr {
  padding: 0;
}

.trending-travel td {
  border: 3px solid #F9BF39;
  padding: 0;

  vertical-align: top;
}

.trending-img {
  width: 100%;
  height: auto;
}

.trending-details {
  width: 100%;
  padding: 30px;
}

.trending-details h3 {
  color: #04ADBF;
  text-align: center;
  margin-bottom: 20px;
}

.trending-details p {
  color: #707070;
  margin: 30px auto;
}

.trending-link {
  display: block;
  width: 100%;
  color: #F9BF39;
  text-align: right;
  margin-top: 30px;
}
